version: '3.8'
services:
redpanda:
image: vectorized/redpanda:latest
command: ["redpanda", "start", "--overprovisioned", "--smp 1", "--memory 1G", "--reserve-memory 0M", "--node-id 0"]
ports:
- "9092:9092"
- "29092:29092"


postgres:
image: postgres:15
environment:
POSTGRES_PASSWORD: postgres
ports:
- "5432:5432"
volumes:
- pgdata:/var/lib/postgresql/data


redis:
image: redis:7
ports:
- "6379:6379"


ingest-api:
build: ./ingest-api
environment:
KAFKA_BOOTSTRAP: redpanda:9092
depends_on:
- redpanda
ports:
- "8000:8000"


consumer:
build: ./consumer
environment:
KAFKA_BOOTSTRAP: redpanda:9092
DATABASE_URL: postgresql://postgres:postgres@postgres:5432/postgres
REDIS_URL: redis://redis:6379/0
depends_on:
- redpanda
- postgres
- redis


query-api:
build: ./query-api
environment:
DATABASE_URL: postgresql://postgres:postgres@postgres:5432/postgres
REDIS_URL: redis://redis:6379/0
ports:
- "8001:8001"
depends_on:
- postgres
- redis


prometheus:
image: prom/prometheus:latest
volumes:
- ./infra/prometheus.yml:/etc/prometheus/prometheus.yml:ro
ports:
- "9090:9090"


grafana:
image: grafana/grafana:latest
ports:
- "3000:3000"


volumes:
pgdata: